aiohttp
aiosignal
altgraph
async-timeout
attrs
charset-normalizer
frozenlist
future
idna
multidict
pefile
playsound
pyinstaller
pyinstaller-hooks-contrib
python-dateutil
python-dotenv
pywin32-ctypes
six
twitchAPI
typing_extensions
yarl
